*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bo-color: #EF476F;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --this-color: #2B5288;
    --that-color: #E5E0D9;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* MENU-ICON */
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    opacity: 85%;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}
/* MENU-ICON */
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


/* SECTION 1 */
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    min-height: 70vh;
}

.section1::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(hmm/Header\ \(2\).jpg) no-repeat center;
    background-size: cover;
    opacity: 0.2;
    z-index: 0; 
}

.section1-content {
    position: relative;
    z-index: 1; 
    font-size: 2rem;
    color: white; 
    text-align: center;
    max-width: 900px;
    padding: 20px;
}

.section1-content h1 {
    margin-bottom: 20px;
}

.section1-content p {
    width: 100%;
    margin-top: 20px;
}

/* SECTION 2 */
.section2 {
    background: var(--second-bg-color);
}

.sec2-heading {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

@media (max-width: 768px) {

    /* .sec7 > .gallery:nth-child(1) {
        
    } */
    .sec2 .sec2-gallery {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .gallery {
        /* margin-top: 50px; */
        width: 60% !important;
        padding: 5px !important;
    }

    .gallery-word h1 {
        font-size: 1.5rem;
    }

    .gallery-word p {
        font-size: 1rem !important;
    }

    .sec7-button {
        display: flex;
        justify-content: center;
        
    }
}


.sec2-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.gallery {
    background: white;
    width: fit-content;
    padding: 18px;
    border-radius: 12px;
}

.gallery-image1 {
    border-radius: 8px;
    margin-bottom: 20px;
}

.gallery-image1:hover {
    transform: scale(1.01)translateY(-3px);
  }


.gallery-word {
    color: black;
    font-size: 1.2rem;
}

.gallery-word p {
    width: 200px;
    font-size: 1.5rem;
    margin-top: 5px;
}

/* SECTION 3  */
.section3 {
    color: var(--text-color);
    min-height: 70vh;
}

.sec3 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec3 p:nth-child(2) {
    margin-top: 20px;
}

.sec3-animation {
    display: flex;
    justify-content: center;
}

/* SECTION 11 */
.section11 {
    background: var(--second-bg-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    min-height: 20vh;
}


.chi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.school-0 {
    margin-bottom: 30px
}

.school {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.school-1, .school-2 {
    width: 50%;
}

.last h2 {
    margin-bottom: 30px;
}

.last p {
    margin-bottom: 10px;
}

.last a {
    color: rgb(177, 14, 14);
}



/* footer  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text, .footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.5rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

































@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, .2);
        border-radius: 0 0 1rem 1rem;
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s  ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }





/* section9 */
.chi {
    font-size: 1.5rem;
    flex-direction: column;
}

.chi h1, h2 {
    font-size: 2rem;
}

.ourschool {
    margin-bottom: 20px;
}

.school-1, .school-2 {
    width: 100%;
} 
    
.school-0 {
    margin-bottom: 7px;
}

.last h2 {
    margin-bottom: 10px;
}



    /* footer */
    .footer {
            flex-direction: column-reverse;
    }
    
    .footer-text p {
            font-size: 1.2rem;
    }
    
    .footer p {
            margin-top: 2rem;
            text-align: center;
    }
    
}